<footer class="site-footer" style="background-color:aliceblue">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="block-7">
                    <h3 class="footer-heading mb-4">Giới thiệu</h3>
                    <p>
                        Thành lập từ tháng 12 năm 2010, sachonline.com là kênh bán hàng trực tuyến của hệ thống Nhà Sách Phương Nam Book, hệ thống nhà sách uy tín của Công ty Cổ Phần Văn Hóa Phương Nam.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Liên kết</h3>
                <ul class="list-unstyled">
                    <li><a href="https://tiki.vn/" target="_blank">Tiki</a></li>
                    <li><a href="https://fahasa.com/" target="_blank">Fahasa</a></li>
                    <li><a href="https://nhasachphuongnam.com/" target="_blank">Phương Nam</a></li>
                    <li><a href="https://nhanvan.vn/" target="_blank">Nhân Văn</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Thông tin liên lạc</h3>
                    <ul class="list-unstyled">
                        <li class="address">11 Sư Vạn Hạnh, Phường 12, Quận 10, Tp. Hồ Chí Minh</li>
                        <li class="phone"><a href="tel://23923929210">1900 6656</a></li>
                        <li class="email">bookonline@gmail.com</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> | bản quyền thuộc về DangNguyen
                </p>
            </div>
        </div>
    </div>
</footer>
